<!--   comments :  -->

<!-- <%    %> js commands are written inside this parenthises...-->
<!--<%= %> we write variables inside this if we want to see their values-->


<!--code starts here-->


<% include partials/header  %>

<h1>this is the homepage</h1>
<a href="./campgrounds">View all campgrounds</a>

<% include partials/footer %>